<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vicinity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">

  <link rel="icon" href="/img/logo/logo.png" type="image/icon type">
  <link rel="stylesheet" type="text/css" href='/css/ldbtn.min.css'/>
  <!-- Favicons -->
  <!-- <link type="text/css" href="/img/favicon.png" rel="icon"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link type="text/css" href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/vendor/icofont/icofont.min.css" >
  <link rel="stylesheet" type="text/css" href="/vendor/boxicons/css/boxicons.min.css" >
  <link rel="stylesheet" type="text/css" href="/vendor/owl.carousel/assets/owl.carousel.min.css" >
  <link rel="stylesheet" type="text/css" href="/vendor/venobox/venobox.css" >
  <link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css" >

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <link rel = "stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
  <!-- loader for outputs -->
  <div class="ld justify-content-center" id="myDIV">Please, be with us.... We are searching for best matches in our records!</div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">vici<span>NITY</span></a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#featured-services">About</a></li>
          <li><a href="#portfolio">Search</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <!-- <li><a href="/signup">SignUp</a></li> -->
          <li><a href="/userupload">Upload</a></li>
          <li><a href="/login">Admin Login</a></li>
        </ul>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>viciNITY</span>
      </h1>
      <h2>Discover the best travel destinations in your <strong>vicinity!</strong></h2>
      <div class="d-flex">
        <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>How to use?</h2>
          <p>We have three different user input options to cater to your needs.</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="#searchsection">Entirety</a></h4>
              <p class="description">Upload an image of your preferred location and hit <strong>Submit</strong>. We will find you the best matching 
                destinations from all over India, divided into 4 regions sorted according to the distance from your current location.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="#searchsection">Want destinations within a specific state?</a></h4>
              <p class="description">
                We have it sorted for you! Just enter the name of your desired state while uploading an image of your preferred location. 
                We will provide you with the best results in your preferred state.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="#searchsection">Have an image URL?</a></h4>
              <p class="description">
                Well, that'll work too! Enter the URL of the image and the name of preferred state. You will have the best possible matches
                in a matter of few seconds!
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Our Services -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title" id="searchsection">
          <h2>Search</h2>
          <h3>Do give our service a <span>try!</span></h3>
          <p>You can use any of the following three input forms according to your specific use case. Info regarding all the input options
            is available just above this section.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 my-4">
            <div class="card" id="global" style="text-align: center; box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); z-index: 997;">
              <div class="card-header">
                <h3>Upload an Image, sit back and enjoy!</h3>
              </div>
              <div class="card-body">
                <form id="input-form-1" method="POST" enctype="multipart/form-data" action="/searchGlobal">
                  <div class="row">
                    <input type="hidden" name="lat"  id="lat" value="">
                    <input type="hidden" name="long" id="long" value="">
                    <input type="hidden" name="test" id="test" value="">
                    <div class="col-md-8 col-sm-12 mt-3">
                      <input type="file" name="file1" class="form-control-file file-choose ml-1" id="exampleInputFile" aria-describedby="fileHelp">
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                      <button type="submit" class="btn btn-primary" style="width: 50%">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <!--other-forms-->

      <div id="other-form" clsss="h-100">
        <div class="row other-form">
          <div class="col-lg-6 col-sm-12 mt-3">
            <div class="card h-100" id="imagesearch" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); z-index: 997;">
              <div class="card-header">
                Just upload an Image and enter State name
              </div>
              <div class="card-body">
                <form id="input-form-2" method="POST" enctype="multipart/form-data" action="/searchbyimage">
                  <div class="row">
                    <input type="hidden" name="lat"  id="lat2" value="">
                    <input type="hidden" name="long" id="long2" value="">
                    <input type="hidden" name="test" id="test2" value="">
                    <div class="col-md-8 col-sm-12 mt-3">
                      <!-- <input type="text" name="state" class="form-control" id="exampleInputEmail1" placeholder="Enter State"> -->
                      <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01" name="state">
                          <!-- <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option> -->
                          <option value='Andhra Pradesh'>Andhra Pradesh</option>
                          <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                          <option value='Assam'>Assam</option>
                          <option value='Bihar'>Bihar</option>
                          <!-- <option value='Chandigarh'>Chandigarh</option> -->
                          <option value='Chhattisgarh'>Chhattisgarh</option>
                          <!-- <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option> -->
                          <!-- <option value='Daman and Diu'>Daman and Diu</option> -->
                          <!-- <option value='Delhi'>Delhi</option> -->
                          <option value='Goa'>Goa</option>
                          <option value='Gujarat'>Gujarat</option>
                          <option value='Haryana'>Haryana</option>
                          <option value='Himachal Pradesh'>Himachal Pradesh</option>
                          <!-- <option value='Jammu and Kashmir'>Jammu and Kashmir</option> -->
                          <option value='Jharkhand'>Jharkhand</option>
                          <option value='Karnataka'>Karnataka</option>
                          <option value='Kerala'>Kerala</option>
                          <!-- <option value='Lakshadweep'>Lakshadweep</option> -->
                          <option value='Madhya Pradesh'>Madhya Pradesh</option>
                          <option value='Maharashtra'>Maharashtra</option>
                          <option value='Manipur'>Manipur</option>
                          <option value='Meghalaya'>Meghalaya</option>
                          <option value='Mizoram'>Mizoram</option>
                          <option value='Nagaland'>Nagaland</option>
                          <option value='Odisha'>Odisha</option>
                          <!-- <option value='Puducherry'>Puducherry</option> -->
                          <option value='Punjab'>Punjab</option>
                          <option value='Rajasthan'>Rajasthan</option>
                          <option value='Sikkim'>Sikkim</option>
                          <option value='Tamil Nadu'>Tamil Nadu</option>
                          <option value='Telengana'>Telengana</option>
                          <option value='Tripura'>Tripura</option>
                          <option value='Uttar Pradesh'>Uttar Pradesh</option>
                          <option value='Uttarakhand'>Uttarakhand</option>
                          <option value='West Bengal'>West Bengal</option>
                        </select>
                      </div>
                      <input type="file" name="file" class=" mt-2 form-control-file file-choose" id="exampleInputFile" aria-describedby="fileHelp">
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                      <button type="submit" class="btn btn-primary" style="width: 80%">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
       
       
          <div class="col-lg-6 col-sm-12 mt-3 ">
            <div class="card h-100" id="urlsearch" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); z-index: 997;">
              <div class="card-header">
                Upload URL of Image and enter State name
              </div>
              <div class="card-body">
                <form id="input-form-3" method="POST" action="/searchbyurl">
                  <div class="row">
                    <input type="hidden" name="lat"  id="lat3" value="">
                    <input type="hidden" name="long" id="long3" value="">
                    <input type="hidden" name="test" id="test3" value="">
                    <div class="col-md-8 col-sm-12 mt-3">
                      <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01" name="state">
                          <!-- <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option> -->
                          <option value='Andhra Pradesh'>Andhra Pradesh</option>
                          <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                          <option value='Assam'>Assam</option>
                          <option value='Bihar'>Bihar</option>
                          <!-- <option value='Chandigarh'>Chandigarh</option> -->
                          <option value='Chhattisgarh'>Chhattisgarh</option>
                          <!-- <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option> -->
                          <!-- <option value='Daman and Diu'>Daman and Diu</option> -->
                          <!-- <option value='Delhi'>Delhi</option> -->
                          <option value='Goa'>Goa</option>
                          <option value='Gujarat'>Gujarat</option>
                          <option value='Haryana'>Haryana</option>
                          <option value='Himachal Pradesh'>Himachal Pradesh</option>
                          <!-- <option value='Jammu and Kashmir'>Jammu and Kashmir</option> -->
                          <option value='Jharkhand'>Jharkhand</option>
                          <option value='Karnataka'>Karnataka</option>
                          <option value='Kerala'>Kerala</option>
                          <!-- <option value='Lakshadweep'>Lakshadweep</option> -->
                          <option value='Madhya Pradesh'>Madhya Pradesh</option>
                          <option value='Maharashtra'>Maharashtra</option>
                          <option value='Manipur'>Manipur</option>
                          <option value='Meghalaya'>Meghalaya</option>
                          <option value='Mizoram'>Mizoram</option>
                          <option value='Nagaland'>Nagaland</option>
                          <option value='Odisha'>Odisha</option>
                          <!-- <option value='Puducherry'>Puducherry</option> -->
                          <option value='Punjab'>Punjab</option>
                          <option value='Rajasthan'>Rajasthan</option>
                          <option value='Sikkim'>Sikkim</option>
                          <option value='Tamil Nadu'>Tamil Nadu</option>
                          <option value='Telengana'>Telengana</option>
                          <option value='Tripura'>Tripura</option>
                          <option value='Uttar Pradesh'>Uttar Pradesh</option>
                          <option value='Uttarakhand'>Uttarakhand</option>
                          <option value='West Bengal'>West Bengal</option>
                        </select>
                      </div>
                      <input type="url" name="url" class="mt-2 form-control" id="exampleInputEmail1" placeholder="Enter Url">
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                      <button type="submit" class="btn btn-primary" style="width: 80%">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="what"> </div>
      </div><br><br>
      <!--end of other form-->

      

      <!--Rendering given image-->
      <% if (url) {%>
          <h3>Your image</h3><hr>
            <div class="col-md-6 offset-md-3 col-sm-12 mt-2">
                <img src="<%=url %>" class="img-fluid output center" alt="" style="width:60rem;">
            </div>  
      <% } %><br>
      <!--End of given img rendering-->


      
       
      <!-- rendering for search by image and search by URL routes [res] -->
      <% if (res.length != 0) {%>
        <input type="hidden" name="flag" class="flag" value="<%= res.length %>">
        <h3>Following are the best matches...</h3><hr>
        <!-- rendering the results here !! -->
        <div class="container" style="text-align: center; ">
          <%for(let place of res){%>
            <div class="col-lg-4 col-md-6 portfolio-item filter-all aux">
              <img src="<%= place.url %>" class="img-fluid output" alt="">
              <div class="portfolio-info">
                <h4><%= place.city.toUpperCase() %></h4>
                <p>
                  <a style="float: right;" href="https://www.google.com/maps/search/?api=1&query=<%= place.city %>" target="_blank" style="color: blue"><i class='fas fa-map-marker-alt' style='font-size:24px'></i></a>
                  <a style="float: right;" class="mx-3" href="/viewDetails/<%= place.city %>/<%= place.state %>?url=<%= place.url %>"><i class='fas fa-info-circle' style='font-size:24px'></i></a>
                </p>
              </div>
            </div>
          <% } %>  
        </div>
      <% } %>

      <!-- Rendering GlobalSearch Route [finalArr] -->
      <% if (finalAns.length != 0) {%>
        <input type="hidden" name="flag" class="flag" value="<%= finalAns.length %>">
        <h3>Following are the best matches...</h3><hr>
        <div id="nav-link">
          <button class="tablink" onclick="openCity('p1', this)" id="defaultOpen">Region 1</button>
          <button class="tablink" onclick="openCity('p2', this)">Region 2</button>
          <button class="tablink" onclick="openCity('p3', this)">Region 3</button>
          <button class="tablink" onclick="openCity('p4', this)">Region 4</button>
        </div>

        <div id="p1" class="tabcontent">
          <% if(finalAns[0].length == 0) { %>
            <div class="col-lg-4 col-md-6 portfolio-item">
              <h4>
                Sorry, there are no better matches for your preferred image in this range.
              </h4>
            </div>
          <% } else { %>
            <%for(let place of finalAns[0]){%>
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="<%= place.url %>" class="img-fluid output" alt="">
                <div class="portfolio-info">
                  <h4><%= place.city.toUpperCase() %></h4>
                  <p><%= place.state.toUpperCase() %></p>
                  <p>
                    <a style="float: right;" href="https://www.google.com/maps/search/?api=1&query=<%= place.city %>" target="_blank" style="color: blue"><i class='fas fa-map-marker-alt' style='font-size:24px'></i></a>
                    <a style="float: right;" class="mx-3" href="/viewDetails/<%= place.city %>/<%= place.state %>?url=<%= place.url %>"><i class='fas fa-info-circle' style='font-size:24px'></i></a>
                  </p>
                </div>
              </div>
            <% }} %> 
        </div>

        <div id="p2" class="tabcontent">
          <% if(finalAns[1].length == 0) { %>
            <div class="col-lg-4 col-md-6 portfolio-item">
              <h4>
                Sorry, there are no better matches for your preferred image in this range.
              </h4>
            </div>
          <% } else{ %>
            <%for(let place of finalAns[1]){%>
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="<%= place.url %>" class="img-fluid output" alt="">
                <div class="portfolio-info">
                  <h4><%= place.city.toUpperCase() %></h4>
                  <p><%= place.state.toUpperCase() %></p>
                  <p>
                    <a style="float: right;" href="https://www.google.com/maps/search/?api=1&query=<%= place.city %>" target="_blank" style="color: blue"><i class='fas fa-map-marker-alt' style='font-size:24px'></i></a>
                    <a style="float: right;" class="mx-3" href="/viewDetails/<%= place.city %>/<%= place.state %>?url=<%= place.url %>"><i class='fas fa-info-circle' style='font-size:24px'></i></a>
                  </p>
                </div>
              </div>
            <% }} %>
        </div>
        
        <div id="p3" class="tabcontent">
          <% if(finalAns[2].length == 0) { %>
            <div class="col-lg-4 col-md-6 portfolio-item">
              <h4>
                Sorry, there are no better matches for your preferred image in this range.
              </h4>
            </div>
          <% } else{ %>
            <%for(let place of finalAns[2]){%>
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="<%= place.url %>" class="output" alt="">
                <div class="portfolio-info">
                  <h4><%= place.city.toUpperCase() %></h4>
                  <p><%= place.state.toUpperCase() %></p>
                  <p>
                    <a style="float: right;" href="https://www.google.com/maps/search/?api=1&query=<%= place.city %>" target="_blank" style="color: blue"><i class='fas fa-map-marker-alt' style='font-size:24px'></i></a>
                    <a style="float: right;" class="mx-3" href="/viewDetails/<%= place.city %>/<%= place.state %>?url=<%= place.url %>"><i class='fas fa-info-circle' style='font-size:24px'></i></a>
                  </p>
                </div>
              </div>
            <% }} %> 
        </div>
        
        <div id="p4" class="tabcontent">
          <% if(finalAns[3].length == 0) { %>
            <div class="col-lg-4 col-md-6 portfolio-item">
              <h4>
                Sorry, there are no better matches for your preferred image in this range.
              </h4>
            </div>
          <% } else{ %>
            <%for(let place of finalAns[3]){%>
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="<%= place.url %>" class="output" alt="">
                <div class="portfolio-info">
                  <h4><%= place.city.toUpperCase() %></h4>
                  <p><%= place.state.toUpperCase() %></p>
                  <p>
                    <a style="float: right;" href="https://www.google.com/maps/search/?api=1&query=<%= place.city %>" target="_blank" style="color: blue"><i class='fas fa-map-marker-alt' style='font-size:24px'></i></a>
                    <a style="float: right;" class="mx-3" href="/viewDetails/<%= place.city %>/<%= place.state %>?url=<%= place.url %>"><i class='fas fa-info-circle' style='font-size:24px'></i></a>
                  </p>
                </div>
              </div>
            <% }} %>
        </div>
        
        <% } %>
    </div>
    </section>
    <!-- End Portfolio Section -->


      

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg mt-3">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our <span>Team</span></h3>
          <p>Feel free to contact any of us!</p>
        </div>

        <div class="row">

          <div class="col-lg-2 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/arvinder.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/i-am-arvinder-singh" target="_blank"><i class="fab fa-github devs"></i></a>
                  <a href="https://www.facebook.com/avyarvinder" target="_blank"><i class="icofont-facebook"></i></a>
                  <!-- <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/arvinder--singh/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Arvinder Singh</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/debojit.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/dasdebojit" target="_blank"><i class="fab fa-github devs"></i></a>
                  <a href="https://www.facebook.com/debojit.das.75033" target="_blank"><i class="icofont-facebook"></i></a>
                  <!-- <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/debojit-das-660b87176/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Debojit Das</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/pritam.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/i-am-pritam" target="_blank"><i class="fab fa-github devs"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100004380699780" target="_blank"><i class="icofont-facebook"></i></a>
                  <!-- <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/pritam-das-9206b9178/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Pritam Das</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/rahul.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/technisRahulk" target="_blank"><i class="fab fa-github devs"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100008283554587" target="_blank"><i class="icofont-facebook"></i></a>
                  <!-- <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/rahul-kumar-gupta-092663176/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rahul Kumar Gupta</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/anuva.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/anuva04" target="_blank"><i class="fab fa-github devs"></i></a>
                  <a href="https://www.facebook.com/anuva.bhattacharjee.37" target="_blank"><i class="icofont-facebook"></i></a>
                  <!-- <a href=""><i class="icofont-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/anuva-bhattacharjee-2923b5170/" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Anuva Bhattacharjee</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Team Section -->

    
    <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>
            Want to report a <span>bug?</span>
            <br>
            or
            <br>
            Have any <span>suggestions?</span>
          </h3>
          <br>
          <h4>
            Feel free to contact us
          </h4>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>NIT Road, Fakiratilla, Silchar, Assam, 788010</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>rapad2k21@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91-9706887134</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28984.810698482564!2d92.77576617050825!3d24.757714399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49dcb63bae9b%3A0x81efa836714a289b!2sNational%20Institute%20Of%20Technology%2C%20Silchar%2C%20Assam!5e0!3m2!1sen!2sin!4v1612280290820!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form id="contact-form" method="POST" action="send"  enctype="multipart/form-data" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required/>
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" required></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" name="register" value="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div> 
  </section>

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>viciNITY</span></strong>. All Rights Reserved
      </div>
    </div> 
  </footer> -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/script/main.js"></script>
  <script defer src="/script/geolocation.js"></script>
  <script src="/script/feedback.js"></script>
  <script src="/script/custom.js"></script>
  <script>
    $(document).ready(function () {
      // Handler for .ready() called.
      if(document.querySelector(".flag")!=undefined){
        var flag=document.querySelector(".flag").value || parseInt(0)
        if(flag!=0){
          $('html, body').animate({
              scrollTop: $('#what').offset().top
          }, 'slow');
        }
      }
    });
  </script>
</body>

</html>