<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/logo/logo.png" type="image/icon type">
    <title>View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .bs-example{
            margin: 20px;
        }
        .alert{
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="container viewDetails">

      <button type="button" class="close" data-dismiss="alert" onclick="goback()">&times;</button>

        <!-- Portfolio Item Heading -->
        <h1 class="my-4" style="font-weight: 800; color: #106eea;"> <%= city.toUpperCase() %>
          <small style="font-size: 1.2rem;"><%= state.toUpperCase()%></small>
        </h1>
      
        <hr>
        <!-- Portfolio Item Row -->
        <div class="row" style="font-family: 'Montserrat';">
          
          <div class="col-md-12 my-5" style="text-align: center;">
            <img class="img-fluid output " src="<%= url %>" alt="<%= city.city %>" style="width: 80%;">
          </div>

          <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
            <% if(city) {%>
              <h3 class="my-3" style="color: #106eea;">About <%= city[0].toUpperCase() + city.slice(1) %> </h3>
              <hr>
              <p> <%= body.stops[0].wikipedia.abstract %> </p>
            <% } %>
            <% if(body.stops[0].wikipedia.population) {%>
              <p> <strong>Population: </strong> <%= body.stops[0].wikipedia.population %> </p>
            <% } %>
            <h3 class="my-3" style="color: #106eea;">Other details</h3>
            <hr>
            <ul>
              <li>Lorem Ipsum</li>
              <li>Dolor Sit Amet</li>
              <li>Consectetur</li>
              <li>Adipiscing Elit</li>
            </ul>
          </div>
      
        </div>
        <!-- /.row -->
      
        <h3 class="my-4" style="color: #106eea;">Nearby Cities</h3>
        <hr>
      
        <div class="row">
            <% var limit = 12 %>
            <% for(let city of body.stops[0].nearByCities) { %>
              <% if(!city.distance || city.distance < 500) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <h3><div class="card-header"><%= city.city %></div></h3>
                        <div class="card-body">
                          <% if(city.distance){ %>
                            <p class="card-text"><strong>Distance: </strong> <%= city.distance %> <i>miles</i></p>
                          <% } %>
                          <% if(city.category){ %>
                            <p class="card-text"><strong>Category: </strong> <%= city.category %></p>
                          <% } %>
                          <button class="btn btn-primary"><a href="https://www.google.com/maps/search/?api=1&query=<%= city.city %>" target="_blank"  style="color: white;">Go to Map</a></button>
                        </div>
                    </div>
                </div>
              
              <% limit-- %>
              <% if(limit == 0) {break}%>
            <% }} %>
      
        </div>

        
      
      </div>

    <script>
        function goback(){
            window.history.back()
        }
    </script>

</body>
</html>